<div layout="column">
    <md-toolbar md-scroll-shrink ng-controller="TitleController">
        <div class="md-toolbar-tools">
            <h3>
                <span>{{title}}</span>
            </h3>
            <span flex></span>
            <md-button ng-click="openCategories()">
                <md-icon>folder</md-icon> Kategorien
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-gt-sm="row" layout-padding flex>
        <div id="todo-form">
            <form ng-submit="saveTodo()">
                <md-input-container>
                    <label>Kategorie</label>
                    <md-select ng-model="formData.categoryId">
                        <md-option ng-repeat="category in categories" value="{{category._id}}">
                            <md-icon>{{category.icon}}</md-icon>
                            {{category.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container md-no-float>
                    <textarea required placeholder="Was ist zu tun?" ng-model="formData.text"></textarea>
                </md-input-container>

                <md-button class="md-fab" aria-label="Create a task" ng-click="saveTodo()">
                    <md-icon>add</md-icon>
                </md-button>
            </form>
        </div>
    </md-content>
    <md-content>
        <div ng-repeat="(key, value) in todos | groupBy: 'categoryId'" ng-init="category = getCategoryById(key)">
            <md-subheader class="md-no-sticky"><md-icon>{{category.icon}}</md-icon> {{category.title}}</md-subheader>
            <md-list-item ng-repeat="todo in value" md-swipe-right="doneTodo(todo._id, todo.done)" md-swipe-left="deleteAction(todo._id)">
                <md-checkbox ng-click="doneTodo(todo._id, todo.done)" ng-model="todo.done"></md-checkbox>
                <p>{{todo.text}}</p>
                <md-icon class="md-secondary" ng-click="deleteAction(todo._id)" aria-label="Delete">delete</md-icon>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-content>
</div>